////////////////////////////////////////////////////////////////////////
// Jones Grids

// Customization and SCSS'ification of Pure Grids, formerly known as YUI Grids.

.ds-grid {

  @include ds-grid-row();

  &--no-gutter {
    margin-left: 0;
  }

  &__demo {

    background-color: $color-ds-tertiary-100;
    padding: $size-base;

    code {

      background-color: $color-ds-tertiary-100;
      border: 0;
      padding: 0;

    }

  }

}

@include ds-grid();

@include breakpoint(S) {
  @include ds-grid(\@s);
}
@include breakpoint(M) {
  @include ds-grid(\@m);
}
@include breakpoint(L) {
  @include ds-grid(\@l);
}
